<div class="card">
  <h2>Cómo hacer una combinada</h2>

  <div class="app-selector">
    <button class="app-btn active" data-app="web">App Web</button>
    <button class="app-btn" data-app="mobile">App Móvil</button>
  </div>



    <div class="steps app-content active" id="web">
    <div class="step">
      <h4>Paso 1</h4>
      <p>Accedes a tu cuenta 1xBet en tu navegador.</p>
      <img src="assets/combinada/web-paso1.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 2</h4>
      <p>Buscas la disciplina en que quieras empezar a jugar.</p>
      <img src="assets/combinada/web-paso2.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 3</h4>
      <p>Seleccionas las cuotas las cuáles quieras combinar.</p>
      <img src="assets/combinada/web-paso3.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 4</h4>
      <p>Ahora te saldrá el detalle a tu lado derecho de la COMBINADA, la cuota total. Ingresas tu monto a apostar y confirmas.</p>
      <img src="assets/combinada/web-paso4.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 5</h4>
      <p>¡Felicidades! ya tienes tu combinada realizada.</p>
      <img src="assets/combinada/web-paso5.png">
    </div>
  </div>




  <div class="steps app-content" id="mobile">
    <div class="step">
      <h4>Paso 1</h4>
      <p>Ingresas a tu cuenta 1xBet.</p>
      <img src="assets/combinada/mobile-paso1.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 2</h4>
      <p>Buscas la disciplina en la que quieras realizar tu combinada.</p>
      <img src="assets/combinada/mobile-paso2.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 3</h4>
      <p>Mantienes el Touch en las cuotas para combinar.</p>
      <img src="assets/combinada/mobile-paso3.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 4</h4>
      <p> Automáticamente se agregarán a tu detalle de apuesta.</p>
      <img src="assets/combinada/mobile-paso4.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 5</h4>
      <p>Ingresas el monto que deseas apostar y confirmas tu apuesta.</p>
      <img src="assets/combinada/mobile-paso5.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 6</h4>
      <p>¡Felicidades! ya tienes tu combinada hecha.</a></p>
      <img src="assets/combinada/mobile-paso6.png">
    </div>
  </div>
</div>
