<div class="card">
  <h2>Cómo crear cuenta</h2>

  <div class="app-selector">
    <button class="app-btn active" data-app="web">App Web</button>
    <button class="app-btn" data-app="mobile">App Móvil</button>
  </div>
    <div class="steps app-content active" id="web">
    <div class="step">
      <h4>Paso 1</h4>
      <p>Ingresa al enlace: <a href="https://cropped.link/lp_aesla_reg">Link</a>.</p>
      <img src="assets/crear/web-paso1.png">
    </div>
    <hr> 
    <div class="step">
      <h4>Paso 2</h4>
      <p>Completa tus datos correctamente.</p>
      <img src="assets/crear/web-paso2.png">
    </div>
    <hr> 
    <div class="step">
      <h4>Paso 3</h4>
      <p>Revisa tu correo y verificate.</p>
      <img src="assets/crear/web-paso3.png">
    </div>
    <hr> 
    <div class="step">
      <h4>Paso 4</h4>
      <p>¡Felicidades! Estás registrado.</p>
      <img src="assets/crear/web-paso4.png">
    </div>
  </div>

  <div class="steps app-content" id="mobile">
    <div class="step">
      <h4>Paso 1</h4>
      <p>Descarga la aplicación oficial. Aquí: <a href="https://1xlite-03801.world/es/mobile">Link</a></p>
      <img src="assets/crear/mobile-paso1.png">
    </div>
    <hr> 
    <div class="step">
      <h4>Paso 2</h4>
      <p>Abre la aplicación y dirigete a "Registro"</p>
      <img src="assets/crear/mobile-paso2.png">
    </div>
    <hr> 
    <div class="step">
      <h4>Paso 3</h4>
      <p>Ahora nos darán opciones de registro, puedes escoger la que más te gusto. Nosotros probaremos con Correo Electrónico</p>
      <img src="assets/crear/mobile-paso3.png">
    </div>
    <hr> 
    <div class="step">
      <h4>Paso 4</h4>
      <p> Completa todos tus datos correctamente</p>
      <img src="assets/crear/mobile-paso4.png">
    </div>
    <hr> 
    <div class="step">
      <h4>Paso 5</h4>
      <p>Utiliza el código AMERICAES para tu BONO. Acepta los terminos y condiciones. Registrate</p>
      <img src="assets/crear/mobile-paso5.png">
    </div>
    <hr> 
    <div class="step">
      <h4>Paso 6</h4>
      <p>Revisa tu correo y verificate.</a></p>
      <img src="assets/crear/web-paso3.png">
    </div>
    <hr> 
    <div class="step">
      <h4>Paso 7</h4>
      <p>¡Felicidades! Estás registrado.</a></p>
      <img src="assets/crear/mobile-paso6.png">
    </div>
  </div>
</div>
