<div class="card">
  <h2>Cómo realizar un depósito</h2>

  <div class="app-selector">
    <button class="app-btn active" data-app="web">App Web</button>
    <button class="app-btn" data-app="mobile">App Móvil</button>


  </div>
    <div class="steps app-content active" id="web">
    <div class="step">
      <h4>Paso 1</h4>
      <p>Accedes a tu cuenta de 1xBet</p>
      <img src="assets/deposito/web-paso1.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 2</h4>
      <p>Dirígete a "Hacer un depósito".</p>
      <img src="assets/deposito/web-paso2.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 3</h4>
      <p>Aquí te aparecerán todos los métodos de depósito.</p>
      <img src="assets/deposito/web-paso3.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 4</h4>
      <p>Escoge el que más te guste y rellena los datos. Le das CONFIRMAR.</p>
      <img src="assets/deposito/web-paso4.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 5</h4>
      <p>Completas los datos extra y Listo.</p>
      <img src="assets/deposito/web-paso5.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 6</h4>
      <p>Puedes ver la confirmación de tu solicitud de depósito.</p>
      <img src="assets/deposito/web-paso6.png">
    </div>
  </div>



  <div class="steps app-content" id="mobile">
    <div class="step">
      <h4>Paso 1</h4>
      <p>Accedes a tu cuenta mobile de 1xBet.</a></p>
      <img src="assets/deposito/mobile-paso1.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 2</h4>
      <p>Te diriges a tu SALDO en la parte superior izquierda.</p>
      <img src="assets/deposito/mobile-paso2.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 3</h4>
      <p>Aquí te aparecerán todos los métodos de deposito.</p>
      <img src="assets/deposito/mobile-paso3.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 4</h4>
      <p> Seleccionas el que mejor se te acomode y rellenas los datos. Le das CONFIRMAR.</p>
      <img src="assets/deposito/mobile-paso4.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 5</h4>
      <p>Completas los datos extra y Listo.</p>
      <img src="assets/deposito/mobile-paso5.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 6</h4>
      <p>Ahora puedes ver la confirmación de tu solicitud de depósito</a></p>
      <img src="assets/deposito/mobile-paso6.png">
    </div>
  </div>
</div>
