<div class="card">

<h2>👽 Quiero conocerte más</h2>
<p>Responde estas preguntas para mejorar la comunidad marciana.</p>

<form id="formMarciano" class="marciano-form">

<input type="text" name="nombre" placeholder="Tu nickname" required>

<input type="text" name="edad" placeholder="Edad">

<select name="juego">
<option>Dota 2</option>
<option>CS2</option>
<option>Valorant</option>
<option>Otro</option>
</select>

<input type="text" name="pais" placeholder="País">

<button type="submit">Enviar</button>

</form>

</div>

<br>

<br>
<div class="card">

<h2>🏆 Top Desviadores</h2>

<ul id="rankingDesviadores" class="ranking-list">
<li>Cargando ranking...</li>
</ul>

</div>


</div>