<div class="card">
  <h2>Transmisión en Vivo</h2>
  <p>Closed Qualifiers SA - ESL ONE Birmingham 2026</p>

  <!-- VIDEO -->
  <div class="video-box">
    <iframe
      src="https://player.kick.com/matthewdota"
      allowfullscreen
      scrolling="no">
    </iframe>
  </div>

  <!-- BARRA DE REDES -->
  <div class="social-bar">
    <a href="https://www.facebook.com/americaesports" target="_blank" class="social-btn">
      <img src="assets/icons/facebook.png" alt="Facebook">
      <span>Facebook</span>
    </a>

    <a href="https://www.youtube.com/@americaesports" target="_blank" class="social-btn">
      <img src="assets/icons/youtube.png" alt="YouTube">
      <span>YouTube</span>
    </a>

    <a href="https://kick.com/matthewdota" target="_blank" class="social-btn">
      <img src="assets/icons/kick.png" alt="Kick">
      <span>Kick</span>
    </a>

    <a href="https://www.twitch.tv/americaesports" target="_blank" class="social-btn">
      <img src="assets/icons/twitch.png" alt="Twitch">
      <span>Twitch</span>
    </a>
  </div>
</div>
