<div class="card">

<h2>👽 Quiero conocerte más</h2>
<p>Responde estas preguntas para mejorar la comunidad marciana.</p>

<form id="formMarciano" class="marciano-form">

<input type="text" name="nombre" placeholder="Tu nombre" required>

<input type="number" name="edad" placeholder="Edad" required>

<!-- PAIS -->
<select id="pais" name="pais" required>

<option value="">Selecciona tu país</option>

<option>Perú</option>
<option>Afganistán</option>
<option>Albania</option>
<option>Alemania</option>
<option>Andorra</option>
<option>Angola</option>
<option>Antigua y Barbuda</option>
<option>Arabia Saudita</option>
<option>Argelia</option>
<option>Argentina</option>
<option>Armenia</option>
<option>Australia</option>
<option>Austria</option>
<option>Azerbaiyán</option>
<option>Bahamas</option>
<option>Bangladés</option>
<option>Barbados</option>
<option>Baréin</option>
<option>Bélgica</option>
<option>Belice</option>
<option>Benín</option>
<option>Bielorrusia</option>
<option>Birmania (Myanmar)</option>
<option>Bolivia</option>
<option>Bosnia y Herzegovina</option>
<option>Botsuana</option>
<option>Brasil</option>
<option>Brunéi</option>
<option>Bulgaria</option>
<option>Burkina Faso</option>
<option>Burundi</option>
<option>Bután</option>

<option>Cabo Verde</option>
<option>Camboya</option>
<option>Camerún</option>
<option>Canadá</option>
<option>Catar</option>
<option>Chad</option>
<option>Chile</option>
<option>China</option>
<option>Chipre</option>
<option>Colombia</option>
<option>Comoras</option>
<option>Corea del Norte</option>
<option>Corea del Sur</option>
<option>Costa de Marfil</option>
<option>Costa Rica</option>
<option>Croacia</option>
<option>Cuba</option>

<option>Dinamarca</option>
<option>Dominica</option>
<option>República Dominicana</option>

<option>Ecuador</option>
<option>Egipto</option>
<option>El Salvador</option>
<option>Emiratos Árabes Unidos</option>
<option>Eritrea</option>
<option>Eslovaquia</option>
<option>Eslovenia</option>
<option>España</option>
<option>Estados Unidos</option>
<option>Estonia</option>
<option>Esuatini</option>
<option>Etiopía</option>

<option>Filipinas</option>
<option>Finlandia</option>
<option>Fiyi</option>
<option>Francia</option>

<option>Gabón</option>
<option>Gambia</option>
<option>Georgia</option>
<option>Ghana</option>
<option>Granada</option>
<option>Grecia</option>
<option>Guatemala</option>
<option>Guinea</option>
<option>Guinea Ecuatorial</option>
<option>Guinea-Bisáu</option>
<option>Guyana</option>

<option>Haití</option>
<option>Honduras</option>
<option>Hungría</option>

<option>India</option>
<option>Indonesia</option>
<option>Irak</option>
<option>Irán</option>
<option>Irlanda</option>
<option>Islandia</option>
<option>Israel</option>
<option>Italia</option>

<option>Jamaica</option>
<option>Japón</option>
<option>Jordania</option>

<option>Kazajistán</option>
<option>Kenia</option>
<option>Kirguistán</option>
<option>Kiribati</option>
<option>Kuwait</option>

<option>Laos</option>
<option>Lesoto</option>
<option>Letonia</option>
<option>Líbano</option>
<option>Liberia</option>
<option>Libia</option>
<option>Liechtenstein</option>
<option>Lituania</option>
<option>Luxemburgo</option>

<option>Macedonia del Norte</option>
<option>Madagascar</option>
<option>Malasia</option>
<option>Malaui</option>
<option>Maldivas</option>
<option>Malí</option>
<option>Malta</option>
<option>Marruecos</option>
<option>Islas Marshall</option>
<option>Mauricio</option>
<option>Mauritania</option>
<option>México</option>
<option>Micronesia</option>
<option>Moldavia</option>
<option>Mónaco</option>
<option>Mongolia</option>
<option>Montenegro</option>
<option>Mozambique</option>

<option>Namibia</option>
<option>Nauru</option>
<option>Nepal</option>
<option>Nicaragua</option>
<option>Níger</option>
<option>Nigeria</option>
<option>Noruega</option>
<option>Nueva Zelanda</option>

<option>Omán</option>

<option>Países Bajos</option>
<option>Pakistán</option>
<option>Palaos</option>
<option>Panamá</option>
<option>Papúa Nueva Guinea</option>
<option>Paraguay</option>
<option>Polonia</option>
<option>Portugal</option>

<option>Reino Unido</option>
<option>República Centroafricana</option>
<option>República Checa</option>
<option>República del Congo</option>
<option>República Democrática del Congo</option>
<option>Ruanda</option>
<option>Rumania</option>
<option>Rusia</option>

<option>Samoa</option>
<option>San Cristóbal y Nieves</option>
<option>San Marino</option>
<option>San Vicente y las Granadinas</option>
<option>Santa Lucía</option>
<option>Santo Tomé y Príncipe</option>
<option>Senegal</option>
<option>Serbia</option>
<option>Seychelles</option>
<option>Sierra Leona</option>
<option>Singapur</option>
<option>Siria</option>
<option>Somalia</option>
<option>Sri Lanka</option>
<option>Sudáfrica</option>
<option>Sudán</option>
<option>Sudán del Sur</option>
<option>Suecia</option>
<option>Suiza</option>

<option>Tailandia</option>
<option>Tanzania</option>
<option>Tayikistán</option>
<option>Timor Oriental</option>
<option>Togo</option>
<option>Tonga</option>
<option>Trinidad y Tobago</option>
<option>Túnez</option>
<option>Turkmenistán</option>
<option>Turquía</option>
<option>Tuvalu</option>

<option>Ucrania</option>
<option>Uganda</option>
<option>Uruguay</option>
<option>Uzbekistán</option>

<option>Vanuatu</option>
<option>Vaticano</option>
<option>Venezuela</option>
<option>Vietnam</option>

<option>Yemen</option>

<option>Zambia</option>
<option>Zimbabue</option>

</select>

<!-- CIUDAD PERU -->
<select id="ciudadPeru" name="ciudad" style="display:none;">

<option value="">Ciudad / Región</option>

<option>Amazonas</option>
<option>Áncash</option>
<option>Apurímac</option>
<option>Arequipa</option>
<option>Ayacucho</option>
<option>Cajamarca</option>
<option>Callao</option>
<option>Cusco</option>
<option>Huancavelica</option>
<option>Huánuco</option>
<option>Ica</option>
<option>Junín</option>
<option>La Libertad</option>
<option>Lambayeque</option>
<option>Lima</option>
<option>Loreto</option>
<option>Madre de Dios</option>
<option>Moquegua</option>
<option>Pasco</option>
<option>Piura</option>
<option>Puno</option>
<option>San Martín</option>
<option>Tacna</option>
<option>Tumbes</option>
<option>Ucayali</option>

</select>

<!-- DISTRITO LIMA -->
<select id="distritoLima" name="distrito" style="display:none;">

<option value="">Distrito de Lima</option>

<option>Ate</option>
<option>Ancón</option>
<option>Barranco</option>
<option>Breña</option>
<option>Carabayllo</option>
<option>Chaclacayo</option>
<option>Chorrillos</option>
<option>Cieneguilla</option>
<option>Comas</option>
<option>El Agustino</option>
<option>Independencia</option>
<option>Jesús María</option>
<option>La Molina</option>
<option>La Victoria</option>
<option>Lima</option>
<option>Lince</option>
<option>Los Olivos</option>
<option>Lurigancho</option>
<option>Lurín</option>
<option>Magdalena del Mar</option>
<option>Miraflores</option>
<option>Pachacamac</option>
<option>Pucusana</option>
<option>Pueblo Libre</option>
<option>Puente Piedra</option>
<option>Punta Hermosa</option>
<option>Punta Negra</option>
<option>Rímac</option>
<option>San Bartolo</option>
<option>San Borja</option>
<option>San Isidro</option>
<option>San Juan de Lurigancho</option>
<option>San Juan de Miraflores</option>
<option>San Luis</option>
<option>San Martín de Porres</option>
<option>San Miguel</option>
<option>Santa Anita</option>
<option>Santa María del Mar</option>
<option>Santa Rosa</option>
<option>Santiago de Surco</option>
<option>Surquillo</option>
<option>Villa El Salvador</option>
<option>Villa María del Triunfo</option>

</select>

<!-- ORIGEN -->
<select name="origen" required>
<option value="">¿De que plataforma nos ves?</option>
<option>Facebook</option>
<option>Twitch</option>
<option>Youtube</option>
<option>Kick</option>
</select>

<!-- CUENTA -->
<select name="cuenta" required>
<option value="">¿Tienes una cuenta en Apuestas?</option>
<option>Si</option>
<option>No</option>
</select>

<button type="submit" id="btnEnviar">Enviar</button>

<div id="loaderMarciano" class="loader hidden">
  👽 Enviando datos al planeta marciano...
</div>

</form>

</div>

<br>

<br>

</div>