<div class="card">
  <h2>Cómo crear cuenta</h2>

  <div class="app-selector">
    <button class="app-btn active" data-app="web">App Web</button>
    <button class="app-btn" data-app="mobile">App Móvil</button>
  </div>
    <div class="steps app-content active" id="web">
    <div class="step">
      <h4>Paso 1</h4>
      <p>Ingresa al enlace: <a href="https://cropped.link/lp_aesla_reg">Link</a>.</p>
      <img src="assets/crear/web-paso1.png">
    </div>
    
  </div>

  <div class="steps app-content" id="mobile">
    <div class="step">
      <h4>Paso 1</h4>
      <p>Ingresa a tu app y dirigite a MENU.</p>
      <img src="assets/retiro/mobile-paso1.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 2</h4>
      <p>Ingresa a la tuerquita que encuentras en tu perfil.</p>
      <img src="assets/retiro/mobile-paso2.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 3</h4>
      <p> Dirigete a la opción de "Extraer"</p>
      <img src="assets/retiro/mobile-paso3.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 4</h4>
      <p> Tendremos varias opciones de retiro, seleccionamos "Transferencia bancaria"</p>
      <img src="assets/retiro/mobile-paso4.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 5</h4>
      <p> Completamos los datos de nuestra entidad bancaria y solicitamos</p>
      <img src="assets/retiro/mobile-paso5.png">
    </div>
    <br> 
    <div class="step">
      <h4>Paso 6</h4>
      <p>Podremos visualizar un mensaje de "Solicitud realizada"</a></p>
      <img src="assets/retiro/mobile-paso6.png">
    </div>
    <div class="step">
      <h4>Paso 7</h4>
      <p>Visualizaremos un resumen de nuestra solicitud de retiro</a></p>
      <img src="assets/retiro/mobile-paso7.png">
    </div>
  </div>
</div>
